@font-face {
    font-family: Regular;
    src: url(../fonts/regular.ttf);
}

:root {
    --color-white: #FFFFFF;
    --font-inter: 'Inter', sans-serif;
    --font-pjs: 'Plus Jakarta Sans', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --color-dark-bg: #2C2C2C;
    --color-green: #00B800;
    --color-text: #52525B;
    --color-dark-text: #E8E8E8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000000;
    font-family: var(--font-inter);
    font-weight: 500;
}

body.transition {
    transition: 200ms ease-in-out;
}

body.dark-theme {
    background-color: var(--color-dark-bg);
    color: #FFFFFF;
}

.c-text {
    color: var(--color-text);
}
.c-green {
    color: var(--color-green);
}
h1.title, h2.title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 40px;
}
h3.title {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 40px;
}
.title.flex {
    display: flex;
    align-items: center;
    gap: 20px;
}
p.text {
    font-size: 25px;
    font-weight: 500;
}

body.dark-theme .c-text {
    color: var(--color-dark-text);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1330px;
    padding: 0 50px 100px;
    margin: 0 auto;
}
.header .container {
    padding-bottom: 30px;
}
.main-section .container {
    max-width: 900px;
}
.lottie {
    margin-bottom: 30px;
    height: 408px;
    overflow: hidden;
    border-radius: 25px;
}
.importants-section .lottie {    
    background-color: #FFFFFF;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 68px 0 34px;
}
.header-action, .footer-action {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-action button, .copy-link, .footer-action button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.select-lenguage {
    position: relative;
}
.select-lenguage .current-lenguage {
    cursor: pointer;
    font-size: 30px;
    color: var(--color-green);
    font-family: var(--font-inter);
    font-weight: 500;
}
.select-lenguage .select-dropdown {
    opacity: 0;
    height: 0;
    pointer-events: none;
    position: absolute;
}
.section-action {
    display: flex;
    align-items: center;
    gap: 55px;
    margin-top: 30px;
}
button.gradient-button {
    font-size: 30px;
    font-family: var(--font-pjs);
    font-weight: 500;
    color: var(--color-white);
    position: relative;
    padding: 20px 35px;
    background-image: linear-gradient(180deg, rgba(0, 184, 0, .6), rgba(0, 184, 0, .2));
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.gradient-button span {
    position: absolute;
    bottom: -5px;
    right: -10px;
    font-size: 12px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    background-color: #F6FCFF;
    border-radius: 20px;
    color: var(--color-green);
}
body.dark-theme .gradient-button span {
    background-color: #49454F;
    color: #FFFFFF;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

body.dark-theme .logo path.theme {
    fill: #FFFFFF;
    fill-opacity: 1;
}

body.dark-theme .header-action .copy-link path, body.dark-theme .copy-link path {
    fill: #F6FCFF;
} 
body.dark-theme .header-action .theme-button path {
    fill: #FFFFFF;
}
body.dark-theme .rounded-item {
    background-color: #3F3F3F;
}
body.dark-theme button.gradient-button {
    background-image: none;
    background-color: #49454F;
    color: #00B800;
}

body.dark-theme .accordion {
    border-bottom: 1px solid #F6FCFF;
}

.flex-container {
    display: flex;
    margin: 20px 0 60px;
}

.qr.white {
    display: none;
}
body.dark-theme .qr {
    display: none;
}
body.dark-theme .qr.white {
    display: block;
}

img.theme.dark {
    display: none;
}

body.dark-theme img.theme {
    display: none;
}

body.dark-theme img.theme.dark {
    display: block;
}

body.dark-theme a.app-link {
    color: #F6FCFF;
}
.app-links {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}
a.app-link {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #52525B;
    text-decoration: none;
}
a.app-link span {
    color: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 10px;
    padding: 3px 6px;
    font-family: var(--font-inter);
    font-size: 12px;
    text-align: center;
    width: fit-content;
}


.grid-container {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    gap: 40px;
    align-items: center;
    margin-bottom: 70px;
}

.flex-space {
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.rounded-item {
    border-radius: 30px;
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, .25); */
    background-color: #F6FCFF;
    width: 100%;
    min-height: 183px;
    padding: 26px 40px;
}
.rounded-item .text {
    margin-top: 24px;
}
.inner.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.accordion {
    border-bottom: 1px solid #969AAD;
    padding-bottom: 24px;
    margin-bottom: 55px;
}
.accordion-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.accordion-head h3.title {
    margin-bottom: 0;
}
.accordion-head svg {
    min-width: 40px;
    transition: 200ms ease-out;
}
.accordion-dropdown {
    max-height: 0;
    transition: 260ms ease-out;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}
.active .accordion-dropdown {
    max-height: 400px;
    opacity: 1;
    visibility: visible;
    padding: 24px 0 0;
}
.active .accordion-dropdown .text {
    margin-top: 20px;
}
.active .accordion-dropdown .text:first-child {
    margin-top: 0;
}
.active .accordion-head svg {
    transform: rotate(45deg);
}

.advantages-section .container {
    padding-bottom: 0px;
}
.swiper {
    padding: 50px 0;
    margin-bottom: 50px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    border-radius: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    text-align: center;
    filter: blur(4px);
    transition: filter 200ms;
    padding: 30px;
    overflow: hidden;
}
.swiper-slide .lottie {
    height: 225px;
    background-color: transparent;
}
.swiper-slide.swiper-slide-active {
    filter: blur(0px);
}

.swiper-button-next, .swiper-button-prev {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #D9D9D9;
    color: #FFFFFF;
}

.footer .container {
    padding-bottom: 0;
}
.footer-inner {
    border-top: 1px solid #E4E4E7;
    padding: 20px 0 30px;
    font-size: 16px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.footer-column {
    display: flex;
    flex-direction: column;
}
.footer-column.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-column b {
    margin-top: 0;
    font-size: 16px;
}
.footer-column a {
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    color: var(--color-text);
}

body.dark-theme .footer-column a {
    color: #FFFFFF;
}
.footer-column p.text b {
    margin-bottom: 10px;
    display: block;
}
.footer p.text {    
    font-size: 16px;
    max-width: 380px;
}

.swiper-button-next {
    right: 100px;
}

.swiper-button-prev {
    left: 100px;
}
.swiper-pagination {
    display: none;
}
.swiper-pagination-bullet {
    background-color: #D9D9D9;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--color-green);
}

body.dark-theme .swiper-button-next, body.dark-theme .swiper-button-prev {
    background-color: #49454F;
    color: #000000;
}
body.dark-theme .swiper-slide {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.about-section .grid-container img {
    width: 100%;
    min-width: 360px;
}


.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    display: none;
}

.tooltip {
    position: absolute;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

body.dark-theme .tooltip {
    color: #969AAD;
    background-color: #000000;
}

.tooltip .close {
    cursor: pointer;
    display: inline;
}


@media (max-width: 989px) {
    .flex-container {
        flex-direction: column;
    }
    .swiper-pagination {
        display: block;
    }
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
    .footer-links {
        flex-wrap: wrap;
        gap: 40px 20px;
    }
}

@media (max-width: 750px) {
    h1.title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .container {
        padding: 0 30px 60px;
    }
    h2.title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    h3.title {
        font-size: 15px;
        margin-bottom: 20px;
    }
    p.text {
        font-size: 12px;
    }
    .grid-container {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
    .importants-section .grid-container {
        gap: 0;
    }
    .flex-container {
        margin: 20px 0 30px;
        gap: 30px;
    }
    .about-section .grid-container img {
        min-width: auto;
    }
    .rounded-item {
        min-height: auto;
        padding: 16px 30px;
    }
    .rounded-item h3.title {
        margin-bottom: 0;
    }
    .rounded-item .text {
        margin-top: 12px;
    }
    .section-action {
        gap: 26px;
    }
    button.gradient-button {
        font-size: 16px;
        padding: 14px 20px;
    }
    .header-action {
        gap: 20px;
    }
    .header-inner {
        padding-top: 20px;
    }
    .accordion-head svg {
        width: 20px;
        min-width: 20px;
    }
}

@media (max-width: 550px) {
    h1.title {
        font-size: 18px;
    }
    h2.title {
        font-size: 22px;
    }
    h3.title {
        font-size: 15px;
    }
    p.text {
        font-size: 12px;
    }
    .qr {
        width: 60px;
    }
    .tooltip {
        font-size: 14px;
    }
    .container {
        padding: 0 30px 40px;
    }
}